@use "~skil3e-css/src/maps";
@use "~skil3e-css/src/functions-mixins/mixins" with (
$border-radius: map-merge(maps.$border-radius, ("--4": 4px))
);
@use "~skil3e-css/src/themes" with (
$themeDark: map-merge(maps.$themeDark, ("bg": #13161F, "border": #2d3747)),
$themeLight: map-merge(maps.$themeLight, ("bg": #fff, "border": #ced4de))
);
@use "~skil3e-css/src/skil3e";

h1, h2, h3, h4, h5, h6 {
  margin : .5em 0;
}

.npm__react-simple-code-editor__textarea {
  padding : 10px !important;
}

[data-testid="playground"] {
  margin : .625em 0 !important;
}

[data-testid="prop"] {
  padding : 20px !important;

  & * {
	padding-bottom : 0 !important;
  }
}

[data-testid="prop-name"] {
  width : 15%;
}

[data-testid="prop-type"] {
  width : 55%;
}

[data-testid="prop-default-value"] {
  width : 15%;
}
